@import "common";

body {
	overflow-x: hidden;
}

section {
    background-color: rgba(240, 244, 250, 0.75);
    border: 70px solid rgba(240, 244, 250, 0) !important;
    border-bottom: 70px solid rgba(240, 244, 250, 0) !important;
    margin: 50px 70px 70px !important;
}
.bg-white {
	background-color: transparent;
}

nav.orientation {
    position: absolute;
    right: -200px;
    top: 50%;
    @include transform(rotate(-90deg) !important);

    ul {
    	justify-content: space-around;
	    width: 420px;
    }
}

.swiper-button-prev {
    top: -6px;
}

.swiper-button-next {
    bottom: -55px;
    top: initial;
}

header {
	.tag {
	    position: fixed;
	    top: 15%;
	    left: 2.5%;
	    z-index: 1000;
	}
	.tag--menu {
	    position: fixed;
	    top: 45%;
	    left: 0.3%;
	    font-size: 0.8em;
	    z-index: 1000;
		@include transform(rotate(-90deg) !important);
	}
	.nav__left {
		width: 50%;
		top: initial;
		ul {
		    padding: 120px 0;
		}
		.cross {
		    top: 50%;
		    right: 3%;
		    left: initial;
		}
	}
}


.pagination-bottom {
    top: 50%!important;
    right: -95px!important;
    left: initial!important;
    @include transform(translate(0%, 0%)!important);
		&:after {
		    content: url(../../dist/images/menu2.png);
		    position: absolute;
		    top: 15px;
		    left: 30px;
		}
}

.pagination-title {
    top: 50%!important;
    right: 0!important;
    left: 0!important;
    @include transform(translate(57.9%, 0%) rotate(-90deg) !important);
    bottom: initial !important;
    width: initial !important;
    font-size: 6em !important;

}


.section__1 {
	h1 {
	    padding: 75px 0 130px;
	    &:after {
	    	@include transform(translate(-50%, 45%));
	    }
	}

}

.section__2 {
	.bloc--1 {
		width: 250px;
		float: left;
		@include transform(translate(0%, 0%));
		.content {
		    text-align: left;
		}
	}
	.bloc--2 {
		width: 350px;
		float: right;
		@include transform(translate(0%, 0%));
		span {
		    margin: 5px auto;
		}
		span.level_2 {
		    margin: 0px 0 0 75px;
		    font-size: 1em;
		}
		h2:after {
		    width: 35px;
		    height: 4px;
		    position: absolute;
		    right: 75px;
		    top: 47px;
		}
	}
	.bloc--3 {
		width: 350px;
		position: relative;
		left: 50%;
		text-align: center;
		@include transform(translate(-50%, 0%));
	}
}

.section__3 {
	h2 {
		&:after {
		    width: 35px;
		    height: 4px;
		    position: absolute;
			left: 148px;
			top: 48px;
		}
		span {
			margin: 5px 0;
			text-align: inherit;
		}
		.level_2 {
		    margin: 5px 0 0 95px;
		}
	}
	.paragraph {
	    padding: 35px 75px;
      max-width: 265px;
      margin: 0;
	    position: absolute;
	    top: 70%;
	    left: 0%;
	    @include transform(translate(0%, 0%));
	    p {
	    	line-height: 2;
	    }
	}
}

.section__4 {
	.content {
	    padding: 40px 30px 40px;
	    height: 550px;
      width: 85%;
	}
}

.section__5 {
	margin: 50px 70px 0 !important;
	h2 {
	    text-align: left;
	    margin-left: 20px;
	    &:after {
			width: 32px;
			height: 2px;
			margin: 5px -15px 5px -10px;
	    }
	}
	.text {
		position: absolute;
		right: 50px;
		top: 50%;
		@include transform(translate(0%, -80%));
	}
}

footer {
	p {
	    font-size: 1em;
	}

	.social {
		i {
	    	font-size: 3.5em;
		}
	}
	.send-email {
		position: absolute;
		bottom: 10%;
		@include transform(translate(20%, 0%));
	}
	a.mailto {
		margin: 55px auto 0;
	  padding: 20px 25px;
	}
}
