/* ************************************ */
/*	fonts	*/
/* ************************************ */


/* titillium */

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abril/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abril/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'andale_monoregular';
    src: url('../fonts/andale/andalemono-webfont.woff2') format('woff2'),
         url('../fonts/andale/andalemono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/gotham/gotham_black-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
