/* colors */
/**
*
*	font style triggers
*
*/
.fin, .light, .lighter {
  font-family: 'titillium_web';
  font-weight: 200; }

/* sizes */
/** mixin **/
body {
  overflow-x: hidden; }

section:not(.section__1) {
  border: 20px solid #f0f4fa;
  border-bottom: 80px solid #f0f4fa;
  position: relative;
  margin: 20px 20px 100px 20px;
  background-color: #f0f4fa;
  min-height: 800px;
  height: auto; }
  @media (min-width: 1023px) {
    section:not(.section__1) {
      background-color: rgba(240, 244, 250, 0.75);
      border: 70px solid rgba(240, 244, 250, 0) !important;
      border-bottom: 70px solid rgba(240, 244, 250, 0) !important;
      margin: 55px 95px 100px 95px !important;
      min-height: 620px;
      height: 70vh; } }

img {
  max-width: 250px;
  width: 100%;
  margin: auto;
  display: block; }

h3 {
  font-size: 1.3em; }

span {
  font-size: 1.15em; }

p {
  font-size: 0.8em; }

h3, p, span {
  font-family: 'andale_monoregular'; }

nav.orientation {
  padding: 30px 0; }
  @media (min-width: 1023px) {
    nav.orientation {
      position: absolute;
      right: -200px;
      top: 50%;
      -webkit-transform: rotate(-90deg) !important;
      -moz-transform: rotate(-90deg) !important;
      -ms-transform: rotate(-90deg) !important;
      -o-transform: rotate(-90deg) !important;
      transform: rotate(-90deg) !important; } }
  nav.orientation ul {
    display: flex;
    justify-content: space-between;
    font-family: 'andale_monoregular'; }
    @media (min-width: 1023px) {
      nav.orientation ul {
        justify-content: space-around;
        width: 420px; } }
  nav.orientation li {
    font-size: 0.7em;
    position: relative; }
    nav.orientation li.active:after {
      display: block;
      content: '';
      width: 35px;
      height: 6px;
      position: absolute;
      top: 15px;
      background-color: #bfd1ea; }
    nav.orientation li a:hover {
      transition-duration: 0.5s;
      color: #bfd1ea; }

span.pagination-bottom {
  font-family: 'gotham_blackregular';
  font-size: 2.5em;
  position: absolute;
  left: 50%;
  bottom: -5%;
  margin: auto !important;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }
  @media (min-width: 1023px) {
    span.pagination-bottom {
      top: 50% !important;
      right: -95px !important;
      left: initial !important;
      -webkit-transform: translate(0%, 0%) !important;
      -moz-transform: translate(0%, 0%) !important;
      -ms-transform: translate(0%, 0%) !important;
      -o-transform: translate(0%, 0%) !important;
      transform: translate(0%, 0%) !important; } }
  span.pagination-bottom:after {
    content: url(../images/menu2.png);
    position: absolute;
    top: 15px;
    right: 0px;
    display: block; }
    @media (min-width: 1023px) {
      span.pagination-bottom:after {
        content: url(../images/menu2.png);
        position: absolute;
        top: 15px;
        left: 30px; } }

span.pagination-title {
  font-family: 'abril_fatfaceregular';
  text-align: center;
  margin: auto !important;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -125px;
  left: 50%;
  font-size: 2.30em;
  width: 100%;
  color: #f0f4fa;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (min-width: 1023px) {
    span.pagination-title {
      top: 50% !important;
      right: 0 !important;
      left: 0 !important;
      -webkit-transform: translate(57.9%, 0%) rotate(-90deg) !important;
      -moz-transform: translate(57.9%, 0%) rotate(-90deg) !important;
      -ms-transform: translate(57.9%, 0%) rotate(-90deg) !important;
      -o-transform: translate(57.9%, 0%) rotate(-90deg) !important;
      transform: translate(57.9%, 0%) rotate(-90deg) !important;
      bottom: initial !important;
      width: initial !important;
      font-size: 6em !important; } }

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-button-prev {
  position: absolute;
  top: 12%;
  left: 50%;
  background-image: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (min-width: 1023px) {
    .swiper-button-prev {
      top: -6px; } }
  .swiper-button-prev p:after {
    content: "";
    width: 1px;
    height: 30px;
    background-color: black;
    display: block;
    margin: 10px auto; }

.swiper-button-next {
  position: absolute;
  top: 90%;
  left: 50%;
  background-image: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (min-width: 1023px) {
    .swiper-button-next {
      bottom: -55px;
      top: initial; } }
  .swiper-button-next p:before {
    content: "";
    width: 1px;
    height: 30px;
    background-color: black;
    display: block;
    margin: 10px auto; }

header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  height: 55px;
  background-color: white; }
  @media (min-width: 1023px) {
    header {
      width: 95px;
      height: 100vh; } }
  header img {
    width: 40px; }
  header .block-img {
    display: block;
    margin: 15px auto; }
  header .tag, header .tag--menu {
    font-family: 'theano';
    font-weight: 100; }
  header .tag {
    position: absolute;
    top: 25px;
    left: 12%;
    font-size: 1.3em;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (min-width: 1023px) {
      header .tag {
        position: fixed;
        top: 15%;
        left: 2.5%;
        z-index: 1000; } }
  header .tag--menu {
    padding: 7px 20px;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    top: -10px;
    left: 50%;
    font-size: 0.6em;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%); }
    @media (min-width: 1023px) {
      header .tag--menu {
        position: fixed;
        top: 45%;
        left: 0.3%;
        font-size: 0.8em;
        z-index: 1000;
        -webkit-transform: rotate(-90deg) !important;
        -moz-transform: rotate(-90deg) !important;
        -ms-transform: rotate(-90deg) !important;
        -o-transform: rotate(-90deg) !important;
        transform: rotate(-90deg) !important; } }
    header .tag--menu:after {
      content: url(../../dist/images/menu2.png);
      display: inline-block;
      -webkit-transform: scale(-0.5);
      -moz-transform: scale(-0.5);
      -ms-transform: scale(-0.5);
      -o-transform: scale(-0.5);
      transform: scale(-0.5); }
  header .nav__left {
    display: none;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: 'abril_fatfaceregular';
    background-color: #ffffff;
    opacity: 0.98; }
    @media (min-width: 1023px) {
      header .nav__left {
        display: block;
        width: 50%;
        top: initial;
        opacity: 1;
        transition-duration: 500ms;
        transform: translateX(-100%); } }
    @media (min-width: 1023px) {
      header .nav__left.nav--open {
        transform: translateX(0%); } }
    header .nav__left ul {
      margin: 110px auto;
      border: 3px solid;
      width: 50%;
      padding: 165px 0; }
    header .nav__left li {
      padding: 5px 0; }
    header .nav__left a {
      padding: 25px 0;
      font-size: 1.6em; }
    header .nav__left .cross {
      cursor: pointer;
      font-size: 3em;
      font-weight: 100;
      font-family: monospace;
      position: absolute;
      top: 7%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media (min-width: 1023px) {
        header .nav__left .cross {
          top: 50%;
          right: 3%;
          left: initial; } }

.section__1 {
  background-image: url(../images/section_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border: 45px solid #f0f4fa;
  border-bottom: 50px solid #f0f4fa;
  position: relative;
  margin: 55px 20px 100px 20px;
  background-color: #f0f4fa; }
  @media (min-width: 1023px) {
    .section__1 {
      height: 80vh;
      min-height: 620px;
      margin: 55px 95px 100px 95px; } }
  .section__1 .content {
    position: relative;
    padding: 140px 0; }
  .section__1 h1 {
    color: #ffffff;
    font-size: 2em;
    letter-spacing: 1px;
    padding: 0 0 120px;
    text-align: left;
    width: 100%;
    max-width: 150px;
    margin: auto; }
    @media (min-width: 1023px) {
      .section__1 h1 {
        padding: 75px 0 210px; } }
    .section__1 h1:after {
      content: "";
      width: 1px;
      height: 40px;
      background: #ffffff;
      position: absolute;
      top: 53.5%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media (min-width: 767px) {
        .section__1 h1:after {
          top: 50%; } }
      @media (min-width: 1023px) {
        .section__1 h1:after {
          -webkit-transform: translate(-50%, 45%);
          -moz-transform: translate(-50%, 45%);
          -ms-transform: translate(-50%, 45%);
          -o-transform: translate(-50%, 45%);
          transform: translate(-50%, 45%); } }
    @media (min-width: 767px) {
      .section__1 h1 {
        text-align: center;
        width: 100%;
        max-width: 300px; } }
  .section__1 a {
    color: #ffffff;
    font-family: 'andale_monoregular';
    border: 1px solid #ffffff;
    padding: 13px 20px;
    font-size: 0.65em; }
  .section__1 .pagination-bottom {
    font-family: 'gotham_blackregular';
    font-size: 2.5em;
    position: absolute;
    bottom: -17%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .section__1 .pagination-bottom:after {
      content: url(../../dist/images/menu2.png);
      position: absolute;
      top: 15px;
      right: 0px; }
      @media (min-width: 1023px) {
        .section__1 .pagination-bottom:after {
          content: url(../../dist/images/menu2.png);
          position: absolute;
          top: 15px;
          left: 30px; } }

@media (min-width: 1023px) {
  .section__2 {
    padding: 0px 45px; } }

@media (min-width: 1023px) {
  .section__2 .bloc--1 {
    width: 250px;
    float: left;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

.section__2 .bloc--1 .content {
  text-align: left;
  width: 100%;
  max-width: 150px;
  margin: 20px auto 40px; }
  @media (min-width: 767px) {
    .section__2 .bloc--1 .content {
      text-align: center; } }
  @media (min-width: 1023px) {
    .section__2 .bloc--1 .content {
      text-align: left; } }

.section__2 .bloc--1 img {
  max-width: 115px; }
  @media (min-width: 1023px) {
    .section__2 .bloc--1 img {
      max-width: 200px; } }

.section__2 .bloc--1 h3, .section__2 .bloc--1 p, .section__2 .bloc--1 span {
  line-height: 2; }

.section__2 .bloc--1 h3 {
  font-size: 1em; }

.section__2 .bloc--1 p {
  font-size: 0.8em; }

.section__2 .bloc--1 span {
  font-size: 0.7em; }

@media (min-width: 1023px) {
  .section__2 .bloc--2 {
    width: 350px;
    float: right;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%); } }

.section__2 .bloc--2 h2:after {
  content: "";
  width: 40px;
  height: 3px;
  background: black;
  display: block;
  margin: auto; }
  @media (min-width: 1023px) {
    .section__2 .bloc--2 h2:after {
      width: 35px;
      height: 4px;
      position: absolute;
      right: 75px;
      top: 47px; } }

.section__2 .bloc--2 span {
  display: block;
  text-align: center;
  margin: 20px auto; }
  @media (min-width: 1023px) {
    .section__2 .bloc--2 span {
      margin: 5px auto; } }

.section__2 .bloc--2 .level_1 {
  font-family: 'abril_fatfaceregular';
  font-size: 2em; }

@media (min-width: 1023px) {
  .section__2 .bloc--2 .level_2 {
    margin: 0px 0 0 75px;
    font-size: 1em; } }

.section__2 .bloc--2 p {
  margin: 40px auto 20px;
  padding: 0 25px;
  line-height: 1.5;
  font-size: 0.67em;
  width: 200px; }

@media (min-width: 1023px) {
  .section__2 .bloc--3 {
    width: 350px;
    position: relative;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); } }

.section__2 .bloc--3 p {
  text-align: center;
  margin: 30px auto;
  font-size: 1em;
  position: relative; }
  .section__2 .bloc--3 p:after {
    content: "";
    width: 40px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.section__2 .bloc--3 img {
  max-width: 115px; }
  @media (min-width: 1023px) {
    .section__2 .bloc--3 img {
      max-width: 200px; } }

.section__3 h2:after {
  content: "";
  width: 35px;
  height: 3px;
  background: black;
  display: block;
  margin: auto; }
  @media (min-width: 1023px) {
    .section__3 h2:after {
      width: 35px;
      height: 4px;
      position: absolute;
      left: 148px;
      top: 48px; } }

.section__3 h2 span {
  display: block;
  text-align: center;
  margin: 20px auto; }
  @media (min-width: 1023px) {
    .section__3 h2 span {
      margin: 5px 0;
      text-align: inherit; } }

.section__3 span:not(.pagination-bottom, .pagination-title) {
  display: block;
  text-align: center;
  margin: 30px auto;
  font-size: 0.9em; }

.section__3 .level_1 {
  font-family: 'abril_fatfaceregular';
  font-size: 2em; }

@media (min-width: 1023px) {
  .section__3 .level_2 {
    margin: 5px 0 0 95px; } }

.section__3 .bloc--info {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  height: 580px; }
  .section__3 .bloc--info.bloc--hide {
    display: none; }
  .section__3 .bloc--info img {
    max-width: 350px;
    margin: 150px auto 0;
    display: block; }
    @media (min-width: 1023px) {
      .section__3 .bloc--info img {
        margin: 50px auto 0;
        max-height: 580px;
        max-width: 500px; } }
  .section__3 .bloc--info .paragraph {
    background: white;
    max-width: 265px;
    padding: 15px 25px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
    @media (min-width: 1023px) {
      .section__3 .bloc--info .paragraph {
        padding: 35px 75px;
        margin: 0;
        left: 0;
        top: 70%; } }
    .section__3 .bloc--info .paragraph a {
      text-decoration: line-through;
      transition-duration: 0.5s; }
      .section__3 .bloc--info .paragraph a:hover {
        text-decoration: none;
        color: #bfd1ea; }
  .section__3 .bloc--info h3 {
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 1.1em; }
  .section__3 .bloc--info p {
    line-height: 1.3;
    font-size: 0.7em;
    line-height: 2; }
    @media (min-width: 1023px) {
      .section__3 .bloc--info p {
        line-height: 2; } }

.section__4 .content {
  top: 100px;
  position: absolute;
  height: 400px;
  background: white;
  padding: 90px 20px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
  @media (min-width: 767px) {
    .section__4 .content {
      padding: 110px 20px 120px;
      height: 440px; } }
  @media (min-width: 1023px) {
    .section__4 .content {
      padding: 40px 30px 40px;
      height: 550px;
      width: 85%;
      top: initial; } }
  .section__4 .content p.title-name {
    position: absolute;
    background: white;
    padding: 5px 20px;
    left: 0px;
    z-index: 10; }
  .section__4 .content.bloc--hide {
    opacity: 0 !important; }

.section__4 img {
  width: 100%;
  max-width: 100% !important; }

.section__5 {
  border-top: 0px; }
  @media (min-width: 1023px) {
    .section__5 {
      margin: 50px 70px 0 !important; } }
  @media (min-width: 1023px) {
    .section__5 .content {
      width: 700px;
      margin: 0 auto; } }
  .section__5 .contact_me {
    background-color: #ffffff;
    padding: 15px 0;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); }
  .section__5 h2 {
    text-align: center; }
    @media (min-width: 1023px) {
      .section__5 h2 {
        text-align: left;
        margin-left: 20px; } }
    .section__5 h2:after {
      content: "";
      width: 40px;
      height: 3px;
      background: black;
      display: block;
      margin: 15px auto; }
      @media (min-width: 1023px) {
        .section__5 h2:after {
          width: 32px;
          height: 2px;
          margin: 5px -15px 5px -10px; } }
  .section__5 .level_1 {
    font-family: 'abril_fatfaceregular';
    font-size: 2em; }
  .section__5 img {
    padding: 5px 0; }
  .section__5 .text {
    width: 100%;
    max-width: 140px;
    margin: 20px auto; }
    @media (min-width: 1023px) {
      .section__5 .text {
        position: absolute;
        right: 50px;
        top: 50%;
        -webkit-transform: translate(0%, -80%);
        -moz-transform: translate(0%, -80%);
        -ms-transform: translate(0%, -80%);
        -o-transform: translate(0%, -80%);
        transform: translate(0%, -80%); } }
    .section__5 .text p {
      font-size: 1.15em; }
    .section__5 .text span {
      font-size: 0.8em; }
      .section__5 .text span:after {
        content: "";
        width: 30px;
        height: 3px;
        background: #bfd1ea;
        display: block;
        margin: 10px 0; }

footer {
  text-align: center;
  padding: 50px 0; }
  @media (min-width: 1023px) {
    footer p {
      font-size: 1em; } }
  @media (min-width: 1023px) {
    footer .send-email {
      position: absolute;
      bottom: 10%;
      -webkit-transform: translate(20%, 0%);
      -moz-transform: translate(20%, 0%);
      -ms-transform: translate(20%, 0%);
      -o-transform: translate(20%, 0%);
      transform: translate(20%, 0%); } }
  footer .social {
    margin: 25px 0; }
    footer .social i {
      font-size: 2.8em;
      margin: 10px 20px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      @media (min-width: 1023px) {
        footer .social i {
          font-size: 3.5em; } }
      footer .social i:hover {
        color: #bfd1ea; }
  footer a.mailto {
    margin: 25px auto;
    padding: 10px;
    background-color: #ffffff;
    font-size: 0.6em;
    font-family: 'andale_monoregular';
    display: block;
    width: 200px; }
    @media (min-width: 1023px) {
      footer a.mailto {
        margin: 35px auto 0;
        padding: 20px 25px; } }
